.bg-dark {
  background-color: #282c34;
}

.app {
  text-align: center;
}

.appLogo {
  height: 250px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.app h3 {
  font-size: 2.75rem;
  margin: 0px;
}

.appArticle {
  composes: bg-dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appLink {
  composes: text-blue from './other.module.css';
  font-size: 14pt;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
